<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    <uses-permission-->
    <!--        android:name="android.permission.BLUETOOTH"-->
    <!--        android:maxSdkVersion="30" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.BLUETOOTH_ADMIN"-->
    <!--        android:maxSdkVersion="30" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.ACCESS_FINE_LOCATION"-->
    <!--        android:maxSdkVersion="30" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.ACCESS_COARSE_LOCATION"-->
    <!--        android:maxSdkVersion="30" />-->

    <!--    &lt;!&ndash;Android 12+ 蓝牙扫描权限：明确声明不用于获取位置&ndash;&gt;-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
    <!--    <uses-permission-->
    <!--        android:name="android.permission.BLUETOOTH_SCAN"-->
    <!--        android:usesPermissionFlags="neverForLocation"-->
    <!--        tools:targetApi="s" />-->


    <!--兼容版-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--Android 12+ 蓝牙扫描权限：明确声明不用于获取位置-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="s" />
</manifest>